
Kudomion.csproj.user
Kudomion.csproj.user
Kudomion.csproj.user
.vs/Kudomion/FileContentIndex/5ac0d349-d4df-491c-8627-2c46a30ae7c3.vsidx
obj/Debug/net6.0-android/designtime/Resource.designer.cs
obj/Debug/net6.0-android/Kudomion.csproj.AssemblyReference.cache
.vs/Kudomion/FileContentIndex/bd5c8629-2db4-4da7-97eb-d228b0c0893a.vsidx
.vs/Kudomion/v17/.suo
.vs/Kudomion/FileContentIndex/3d00bffb-0ee0-4005-a5d7-e312a0599656.vsidx
Kudomion.csproj.user
.vs/Kudomion/FileContentIndex/248292c1-06fe-4d7d-881e-358304f45440.vsidx
.vs/Kudomion/FileContentIndex/9e86eb25-0273-4521-93b1-18dc57a2ad8f.vsidx
.vs/Kudomion/FileContentIndex/92ede35c-cfbe-4936-85ce-036f728fcf07.vsidx
.vs/Kudomion/FileContentIndex/4174f8cd-2faa-4d5e-b9bf-5a903ba86fdf.vsidx
.vs/Kudomion/FileContentIndex/d9ce30ce-da6b-4f09-94b8-9d456523bfee.vsidx
Kudomion.csproj.user
Kudomion.csproj.user
.vs/Kudomion/FileContentIndex/e70e2916-bace-48a6-9a95-e13a5519f939.vsidx
Kudomion.csproj.user
Kudomion.csproj.user
Kudomion.csproj.user
Kudomion.csproj.user
obj/Debug/net6.0-android/designtime/build.props
obj/Debug/net6.0-android/designtime/Resource.designer.cs
obj/Debug/net6.0-android/Kudomion.assets.cache
obj/Debug/net6.0-maccatalyst/maccatalyst-x64/Kudomion.assets.cache
obj/project.nuget.cache
obj/project.assets.json
obj/Kudomion.csproj.nuget.g.targets
obj/Kudomion.csproj.nuget.g.props
obj/Kudomion.csproj.nuget.dgspec.json
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/XamlSaveStateFile.xml
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/sp/splshSplashScreen.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/sp/splshSplashScreen.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/sp/splshSplashScreen.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/sp/splshSplashScreen.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/sp/splshSplashScreen.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/ygo_guide.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/yg.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/tournies.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/tour.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/splsh.scale-100.jpg
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/ygb.scale-100.jpg
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/settings.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/rnke.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/ranking.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/rnk.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/pst.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/prof.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/prf.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifWideTile.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifWideTile.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifWideTile.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/prfle.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifWideTile.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifWideTile.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifStoreLogo.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifStoreLogo.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifStoreLogo.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifStoreLogo.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifStoreLogo.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifSmallTile.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifSmallTile.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifSmallTile.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifSmallTile.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifSmallTile.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifMediumTile.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifMediumTile.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifMediumTile.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifMediumTile.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifMediumTile.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.targetsize-48.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.targetsize-32.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.targetsize-256.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.targetsize-24.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.targetsize-16.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.altform-unplated_targetsize-48.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.altform-unplated_targetsize-32.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.altform-unplated_targetsize-256.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.altform-unplated_targetsize-24.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.altform-unplated_targetsize-16.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.altform-lightunplated_targetsize-48.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.altform-lightunplated_targetsize-32.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.altform-lightunplated_targetsize-256.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.altform-lightunplated_targetsize-24.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLogo.altform-lightunplated_targetsize-16.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLargeTile.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLargeTile.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLargeTile.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLargeTile.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notifLargeTile.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/notif.ico
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/newss.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/lgout.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/lgbg.scale-100.jpg
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/lby.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/hme.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/emj.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botWideTile.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botWideTile.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botWideTile.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botWideTile.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botWideTile.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botStoreLogo.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botStoreLogo.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botStoreLogo.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botStoreLogo.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botStoreLogo.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botSmallTile.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botSmallTile.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botSmallTile.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botSmallTile.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botSmallTile.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botMediumTile.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botMediumTile.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botMediumTile.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botMediumTile.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botMediumTile.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.targetsize-48.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.targetsize-32.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.targetsize-256.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.targetsize-24.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.targetsize-16.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.altform-unplated_targetsize-48.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.altform-unplated_targetsize-32.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.altform-unplated_targetsize-256.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.altform-unplated_targetsize-24.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.altform-unplated_targetsize-16.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.altform-lightunplated_targetsize-48.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.altform-lightunplated_targetsize-32.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.altform-lightunplated_targetsize-256.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.altform-lightunplated_targetsize-24.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLogo.altform-lightunplated_targetsize-16.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLargeTile.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLargeTile.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLargeTile.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLargeTile.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_botLargeTile.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dotnet_bot.ico
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/discrd.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dcks.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/dck.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/chtbtn.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/btlic.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/btlebtn.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/btle.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrWideTile.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrWideTile.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrWideTile.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrWideTile.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrWideTile.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrStoreLogo.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrStoreLogo.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrStoreLogo.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrStoreLogo.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrStoreLogo.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrSmallTile.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrSmallTile.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrSmallTile.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrSmallTile.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrSmallTile.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrMediumTile.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrMediumTile.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrMediumTile.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrMediumTile.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrMediumTile.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.targetsize-48.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.targetsize-32.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.targetsize-256.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.targetsize-24.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.targetsize-16.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.altform-unplated_targetsize-48.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.altform-unplated_targetsize-32.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.altform-unplated_targetsize-256.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.altform-unplated_targetsize-24.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.altform-unplated_targetsize-16.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.altform-lightunplated_targetsize-48.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.altform-lightunplated_targetsize-32.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.altform-lightunplated_targetsize-256.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.altform-lightunplated_targetsize-24.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLogo.altform-lightunplated_targetsize-16.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLargeTile.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLargeTile.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLargeTile.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLargeTile.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestrLargeTile.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/bluestr.ico
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconWideTile.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconWideTile.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconWideTile.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconWideTile.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconWideTile.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconStoreLogo.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconStoreLogo.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconStoreLogo.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconStoreLogo.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconStoreLogo.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconSmallTile.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconSmallTile.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconSmallTile.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconSmallTile.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconSmallTile.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconMediumTile.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconMediumTile.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconMediumTile.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconMediumTile.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconMediumTile.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.targetsize-48.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.targetsize-32.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.targetsize-256.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.targetsize-24.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.targetsize-16.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.altform-unplated_targetsize-48.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.altform-unplated_targetsize-32.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.altform-unplated_targetsize-256.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.altform-unplated_targetsize-24.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.altform-unplated_targetsize-16.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.altform-lightunplated_targetsize-48.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.altform-lightunplated_targetsize-32.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.altform-lightunplated_targetsize-256.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.altform-lightunplated_targetsize-24.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLogo.altform-lightunplated_targetsize-16.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLargeTile.scale-400.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLargeTile.scale-200.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLargeTile.scale-150.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLargeTile.scale-125.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appiconLargeTile.scale-100.png
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/r/appicon.ico
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/f/OpenSans-Semibold.ttf
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/f/OpenSans-Regular.ttf
.vs/Kudomion/FileContentIndex/8111e084-e14f-4303-915d-995b1d257853.vsidx
.vs/Kudomion/FileContentIndex/b0ea6398-960b-4ce5-b762-32fd4fc120aa.vsidx
.vs/Kudomion/FileContentIndex/98fa9d99-e691-4f78-8519-e35e0a92b233.vsidx
Kudomion.csproj.user
obj/Debug/net6.0-android/designtime/build.props
obj/Debug/net6.0-android/designtime/Resource.designer.cs
obj/Debug/net6.0-android/Kudomion.assets.cache
obj/Debug/net6.0-android/Kudomion.csproj.AssemblyReference.cache
obj/Debug/net6.0-android/Kudomion.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-android/libraryprojectimports.cache
obj/Debug/net6.0-android/lp/174.stamp
obj/Debug/net6.0-android/lp/174/jl/res.zip
obj/Debug/net6.0-android/lp/174/jl/res/layout/flyoutcontent.xml
obj/Debug/net6.0-android/lp/174/jl/res/layout/shellcontent.xml
obj/Debug/net6.0-android/lp/175.stamp
obj/Debug/net6.0-android/lp/175/jl/res.zip
obj/Debug/net6.0-android/lp/175/jl/res/layout/tabbar.xml
obj/Debug/net6.0-android/lp/175/jl/res/values/attrs.xml
obj/Debug/net6.0-android/lp/175/jl/res/values/styles.xml
obj/Debug/net6.0-android/lp/177.stamp
obj/Debug/net6.0-android/lp/177/jl/res.zip
obj/Debug/net6.0-android/lp/177/jl/res/layout/drawer_layout.xml
obj/Debug/net6.0-android/lp/177/jl/res/layout/fragment_backstack.xml
obj/Debug/net6.0-android/lp/177/jl/res/layout/navigationlayout.xml
obj/Debug/net6.0-android/lp/177/jl/res/values/attr.xml
obj/Debug/net6.0-android/lp/177/jl/res/values/styles.xml
obj/Debug/net6.0-android/lp/178.stamp
obj/Debug/net6.0-android/lp/178/jl/res.zip
obj/Debug/net6.0-ios/iossimulator-x64/Kudomion.assets.cache
obj/Debug/net6.0-ios/iossimulator-x64/Kudomion.csproj.AssemblyReference.cache
obj/Debug/net6.0-ios/iossimulator-x64/Kudomion.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-maccatalyst/maccatalyst-x64/Kudomion.assets.cache
obj/Debug/net6.0-maccatalyst/maccatalyst-x64/Kudomion.csproj.AssemblyReference.cache
obj/Debug/net6.0-maccatalyst/maccatalyst-x64/Kudomion.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/Kudomion.assets.cache
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/Kudomion.csproj.AssemblyReference.cache
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/Kudomion.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/Platforms/Windows/App.g.i.cs
obj/Debug/net6.0-windows10.0.19041.0/win10-x64/XamlSaveStateFile.xml
obj/Kudomion.csproj.nuget.dgspec.json
obj/Kudomion.csproj.nuget.g.props
obj/Kudomion.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
.vs/Kudomion/FileContentIndex/6c9ab2d0-79ba-4667-833b-d3630e8e4d60.vsidx
*.editorconfig
